@using QEQ.Models
@model Caracteristica

@{
ViewBag.Title = "ABMCARACTERISTICA | Listado";
}

<h1>Caracteristica</h1>

<div class="row">
    <div class="item1">ID</div>
<div class="item2">Nombre</div>
<div class="item3">ID Categoria</div>
<div class="item4">Pregunta</div>
</div>
@Html.ActionLink("Nueva Caracteristica", "EdicionCaracteristica", "BackOffice", new { Accion = "Insertar", ID = 0 }, null)
@{
    foreach (Caracteristica c in ViewBag.ListaCaracteristicas)
    {
        <div class="row">
            <div class="item1">@c.ID</div>
            <div class="item2">@c.Nombre</div>
            <div class="item3">@c.IDCategoria</div>
            <div class="item4">@c.Pregunta</div>
            <div class="item5">@Html.ActionLink("Editar", "EdicionCaracteristica", "BackOffice", new { Accion = "Editar", ID = @c.ID }, null)</div>
            <div class="item6">@Html.ActionLink("Ver", "EdicionCaracteristica", "BackOffice", new { Accion = "Ver", ID = @c.ID }, null)</div>
            <div class="item7">@Html.ActionLink("Eliminar", "EdicionCaracteristica", "BackOffice", new { Accion = "Eliminar", ID = @c.ID }, null)</div>
        </div>
    }
}