@using QEQ.Models
@model CategoriaCaracteristica
@{
    ViewBag.Title = "ABMCATEGORIAC | Categoria Caracteristica";
}
<link rel="stylesheet" type="text/css" href="~/Content/estilo.css" />
<h1>Categoria Caracteristica</h1>
@using (Html.BeginForm("GrabarCategoriaC", "BackOffice", new { Accion = @ViewBag.Accion }, FormMethod.Post))
{
    @Html.HiddenFor(x => x.ID)
    <p>Nombre: @Html.TextBoxFor((x => x.Nombre), (object)ViewBag.Enabled) @Html.ValidationMessageFor(x => x.Nombre)</p><br />
    if (@ViewBag.Accion == "Ver")
    {
        <input type="submit" value="Enviar" disabled />
    }
    else
    {
        <input type="submit" value="Enviar" />
    }
}

<div align="center">
    <a href=@Url.Action("ABMCategoriaC","BackOffice") class="button" id="menulink">Volver</a>
</div>