@using QEQ.Models
@model Usuario
@{
    ViewBag.Title = "QUIEN ES QUIEN | Registrarme ";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/estilo.css")" />
<a href=@Url.Action("Inicio","Home") class="button">Atras</a>
<h1>Registrarme</h1>
@using (Html.BeginForm("VerificarRegistro", "Home", FormMethod.Post))
{
    <p>Usuario: @Html.TextBoxFor((x => x.NombreUsuario), (object)ViewBag.Enabled) </p><br /> <p class="validacion">@Html.ValidationMessageFor(x => x.NombreUsuario)</p>
    <p>Contraseña: @Html.TextBoxFor((x => x.Password), new { type = "password" }) </p><br /> <p class="validacion">@Html.ValidationMessageFor(x => x.Password)</p>
    <input id="button" type="submit" value="Ingresar">
    @ViewBag.Advertencia
    }
